* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */

  --bg-body: #eff1ff;
  --bg-header: #8e9aaf;
  --bg-tt-h1: #cbc0d3; /* tt= title */
  --bg-paletas: #feeafa;
  --bg-paletas-hover: #feeafad3;

  --color-tt-h1: #ffffff;
  --color-text-mobile: #23053a;
  --color-txt-btn: #4a4e69; /* btn = button */
}

body {
  background-color: var(--bg-body);
  font-family: 'Palanquin', sans-serif;

  text-align: center;
  align-items: center;
  justify-content: center;
}

.page {
  min-width: 32rem;  
  margin: 0 auto;
}

header {
  background-color: var(--bg-header);
  min-height: 27.9rem;
  height: 100%;
}

header img {
  width: 38%;
  padding: 3.2rem 0 3rem;
}

header img:hover {
  animation: rotated 1s 450ms;
}

header h1 {
  font-family: 'Staatliches', cursive;
  font-size: clamp(0.5rem, 2.5rem + 2vw, 4rem);
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  padding: 2rem;
  color: var(--color-tt-h1);
  background-color: var(--bg-tt-h1);

  box-shadow: 0 0 1em var(--bg-tt-h1);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.text-mobile {
  font-size: clamp(1rem, 1rem + 1vw, 2rem);
  color: var(--color-text-mobile);
  line-height: 1.5rem;

  margin: 2.6rem 3.2rem 0;
}

header .text-desk {
  display: none;
}

main {
  display: grid;
  gap: 3.6rem;
  padding: 6.3rem 3.2rem 6rem;
}

#card-pluss {
  display: none;
}

.card {
  position: relative;
  animation: downtop 750ms 450ms;
}

.card img {
  width: 90%;
  transition: 0.3s;
}

.card img:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.card button {
  font-family: 'Staatliches';
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--color-txt-btn);

  position: absolute;
  left: 60%;
  top: 8%;

  background-color: var(--bg-paletas);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.5rem 2.3rem;

  object-fit: contain;
  animation: topdown 600ms 450ms reverse;
}

.card button:hover {
  background-color: var(--bg-paletas-hover);
  transform: scale(1.1);
}

footer {
  display: none;
}

/* animations */
@keyframes rotated {
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes topdown {
  0% {
    opacity: 1;
    transform: translateY(0.1rem);
  }

  100% {
    opacity: 0;
    transform: translateY(-5rem);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(2.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 650px) {
  .page {
    display: flex;
    width: 100%;
  }

  header {
    max-width: 38rem;
    height: 100%;
  }

  header img {
    padding-top: 6.3rem;
    width: 50%;
  }

  header h1 {
    font-size: 5rem;
    width: 100%;
    line-height: 3.7rem;
  }

  header .text-desk {
    display: block;

    font-size: clamp(1.8rem, 2.1rem + 1vw, 2.3rem);

    line-height: 2rem;
    font-weight: normal;

    color: var(--color-tt-h1);
    padding: 8.8rem 4.8rem 8.8rem;
  }

  .text-mobile {
    display: none;
  }

  main {
    padding: 6.3rem auto;
  }

  .card img:hover {
    opacity: 0.8;
  }

  .card button {
    left: 52%;
    top: 8%;
  }
}

@media (min-width: 770px) {
  header {
    min-width: 36rem;
    height: 100%;
  }

  main {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr;
  }

  .card img {
    width: 90%;
    height: 38rem;
    object-fit: cover;
    border-radius: 2rem;
    transition: transform 400ms ease;
  }

  .card:hover img {
    transform: scale(1.1);
  }

  .card button {
    display: none;
  }
}

@media (min-width: 1184px) {
  main {
    height: 53rem;
    gap: 3.2rem;
    margin: 1rem auto;
    grid-auto-flow: column;
    grid-template-areas:
      'A B E'
      'D B F'
      'D C F';
  }

  main > div:nth-child(1) {
    grid-area: A;
  }

  main > div:nth-child(2) {
    grid-area: B;
  }

  main > div:nth-child(3) {
    grid-area: C;
  }

  main > div:nth-child(4) {
    grid-area: D;
  }

  main > div:nth-child(5) {
    grid-area: E;
  }

  main > div:nth-child(6) {
    grid-area: F;
  }

  .card img,
  #card-pluss {
    width: 24rem;
    height: auto;
  }

  #card-pluss {
    display: initial;
  }

  .page {
    position: relative;
  }

  footer {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--color-txt-btn);

    position: absolute;
    top: 72%;
    left: 54%;
  }

  footer a {
    text-decoration: none;
    color: var(--color-txt-btn);
    font-weight: 700;
  }

  footer a:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 1450px) {
  .card img,
  #card-pluss {
    width: 28rem;
    height: auto;
  }

  footer {
    top: 82%;
    left: 52.5%;
  }
}
